@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenidos a Michi's Life</h1>
    <p>
        La mejor pagina de productos para tu bebé Gatuno<br>
        Busca en nuestras cateforias tu producto o contactanos para asociar tu tienda a nuestro catálogo<br><br>
        <strong>Michi´s Life</strong>... Lo mejor para la vida de tu gato
    </p>
    <p><a class="btn btn-dark" href="@Url.Action("Catalogo", "Home")" role="button">Ver cátalogo</a></p>
</div>

<!--
<img src="@Url.Content("~/Content/img/gatitoDormido.jpg")" />
-->